In [3]:
import numpy as np
import pandas as pd


s1 = pd.Series(np.random.randn(9),
            index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]]
            ) 
s1

a  1    0.425353
   2   -0.260581
   3    1.321927
b  1    0.194078
   2   -0.303779
c  3    0.017084
   1   -0.619792
d  2    0.700335
   3   -0.327753
dtype: float64

In [4]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
display(s1) #只有在ipynb檔才能用，py不能用

a  1    0.425353
   2   -0.260581
   3    1.321927
b  1    0.194078
   2   -0.303779
c  3    0.017084
   1   -0.619792
d  2    0.700335
   3   -0.327753
dtype: float64

In [6]:
s1['a']

1    0.425353
2   -0.260581
3    1.321927
dtype: float64

In [7]:
s1[['b','c']]

b  1    0.194078
   2   -0.303779
c  3    0.017084
   1   -0.619792
dtype: float64

In [8]:
s1['b':'d']

b  1    0.194078
   2   -0.303779
c  3    0.017084
   1   -0.619792
d  2    0.700335
   3   -0.327753
dtype: float64

In [11]:
display(s1)
s1['a'][3]

a  1    0.425353
   2   -0.260581
   3    1.321927
b  1    0.194078
   2   -0.303779
c  3    0.017084
   1   -0.619792
d  2    0.700335
   3   -0.327753
dtype: float64

1.3219272755144487

In [12]:
s1.loc['b',1]

0.1940776764160237

In [15]:
s1.unstack(level=0).T #欄、例對調.T

          1         2         3
a  0.425353 -0.260581  1.321927
b  0.194078 -0.303779       NaN
c -0.619792       NaN  0.017084
d       NaN  0.700335 -0.327753

In [16]:
s1.unstack(level=0)

          a         b         c         d
1  0.425353  0.194078 -0.619792       NaN
2 -0.260581 -0.303779       NaN  0.700335
3  1.321927       NaN  0.017084 -0.327753

In [17]:
s1.unstack(level=0).T.stack() #回到堆疊資料

a  1    0.425353
   2   -0.260581
   3    1.321927
b  1    0.194078
   2   -0.303779
c  1   -0.619792
   3    0.017084
d  2    0.700335
   3   -0.327753
dtype: float64