In [7]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(4.0,step=1.0),index=['a','b','c','d'])
s1

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [14]:
display(s1)
s1[0]

a    0.0
b    1.0
c    4.0
d    6.0
dtype: float64

/tmp/ipykernel_23966/1551149800.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]

0.0

In [15]:
s1['a']

0.0

In [16]:
s1[['a','b','d']]

a    0.0
b    1.0
d    6.0
dtype: float64

In [12]:
s1[-2:] *= 2

In [17]:
s1

a    0.0
b    1.0
c    4.0
d    6.0
dtype: float64

In [21]:

np.reshape (np.arange(16),(4,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [27]:
data = np.arange(16).reshape(4,4)
dataFrame = pd.DataFrame(data,
            index=['台北','台中','台南','高雄'],
            columns=['one','two','three','four'])
dataFrame

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15